@import "./scss/bootstrap";
.img{
    height: 700px ;
    width: 800px;
}
#carouselExampleAutoplaying{
    margin-top: 70px;
    background-repeat: no-repeat;
}
.img{
    height: 620px;
    width: fit-content;
}